@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ptn{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.ptn h2{
    font-weight: 400;
}

.complementos{
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    height: 180px;
    width: 600px;
}

.section1, .section2{
    flex: 1;
    width: 50%;
    border: 3px solid #a8afb4;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background: white;
    display: flex;
}

.section1, .section2{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section img{
    width: 30px;
}

section div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 10px;
}

#temp{
    font-size: 60pt;
    font-weight: 700;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#clima, #maxmin{
    opacity: 60%;
    font-size: 14pt;
}

#clima{
    text-transform: capitalize;
    font-size: 16pt;
}

.alerts{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-95%);
    color: white;
    display: flex;
    align-items: center;
    background-color: #ec7d24;
    border-radius: 15px;
    width: 60%;
    padding: 10px;
}

.alerts h2, h3{
    width: 90%;
    margin-top: 5px;
    font-weight: 500;
    text-align: justify;
}

.alerts #evento{
    font-weight: 700;
}

#evento{
    text-transform: uppercase;
    font-weight: 600;
}

.dias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.dias div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 10px;
}

.dias p{
    
}

#dia1, #dia2, #dia3,
#dia4, #dia5, #dia6, #dia7{
    font-size: 13pt;
    font-weight: 700;
    text-transform: uppercase;
}

header{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: #28445c;
}

header h1{
    font-weight: 300;
    opacity: 80%;
    font-size: 23pt;
}

header span{
    font-size: 15pt;
}

@media screen and (max-width: 800px) {
    .cabeçalho{
        padding: 17px;
    }
    .cabeçalho h1{
        font-size: 17pt;
    }
    .cabeçalho span{
        font-size: 10pt;
    }

    .complementos{
        width: 100%;
        height: 180px;
    }

    .section1, .section2{
        height: 100px;
        width: 50%;
        padding: 0px;
        margin: 5px;
        margin-top: 15px;
        gap: 5px;
        font-size: 10pt;
    }

    .section2{
        width: 25%;
    }

    .section2 .div-sol h3{
        font-size: 8pt;
    }

    .dias{
        flex-wrap: wrap; 
        margin-top: -35px;
    }

    .alerts{
        top: 95%;
        width: 85%;
    }

    #descricao{
        display: none;
    }

    .alerts h2, h3{
        width: 90%;
        margin-top: 5px;
        font-weight: 500;
        text-align: justify;
    }

    .alerts h2{
        font-size: 15pt;
    }
}