@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background: #f2f4f5;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #28445c;
    color: white;
}
header h1{
    font-size: 1.6rem;
    font-weight: 300;
    opacity: .9;
}
header span{
    opacity: .7;
}

.ptn{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#temp{
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#maxmin{
    font-size: 1.2rem;
    opacity: .7;
}
#clima{
    margin-top: 5px;
    font-size: 1.3rem;
    opacity: .8;
    text-transform: capitalize;
}

.complementos{
    width: 100%;
    max-width: 700px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    padding: 0 15px;
}

.section1,
.section2{
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
    border: 1px solid #c7cdd1;
}

.section1 div,
.section2 div{
    display: flex;
    align-items: center;
    gap: 10px;
}

section img{
    width: 28px;
}

.dias{    
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dias div{
    background: white;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
    font-size: 0.95rem;
    border-radius: 10px;
    white-space: nowrap
}

.dias p:first-child{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.alerts{
    margin: 20px auto;
    background: #ec7d24;
    width: 90%;
    max-width: 700px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
}
.alerts img{
    width: 70px;
    height: 70px;
}
.alerts h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.alerts h3{
    font-size: .95rem;
    opacity: .9;
}

@media (max-width: 768px){
    #temp{
        font-size: 3rem;
    }
    .complementos{
        flex-direction: column;
        padding: 0 10px;
    }
    .section1,
    .section2{
        padding: 12px;
    }

    .dias{
        display: flex;
        overflow-x: auto;
        padding: 10px 10px 20px 10px;
        gap: 10px;
        scroll-snap-type: x mandatory;
        max-width: 100%;
        flex-wrap: nowrap;
        
    }

    .dias div{
        flex-shrink: 0;
        scroll-snap-align: start;
        width: 80px;
        white-space: normal;
    }
    .alerts{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    #descricao{
        display: none;
    }
}

@media (max-width: 480px){
    header h1{
        font-size: 1.1rem;
    }
    #temp{
        font-size: 3rem;
    }
    .dias div{
        width: 70px;
        padding: 8px;
    }
    .alerts img{
        width: 55px;
        height: 55px;
    }
}